<h1>Welcome to the landing page</h1>

<form>
	<label for="username">Name :</label>
	<input id="uname" name="uname" type="text">
	<label for="umail">Mail :</label>
	<input id="umail" name="umail" type="text">
	<label for="upass">Pass :</label>
	<input id="upass" name="upass" type="password">
	<input type="submit" value="Submit">
</form>