<h1>Welcome to the login page</h1>

<form method="POST" action="/validate">
	<label for="uno">Mobile Number :</label>
	<input id="uno" name="uno" type="text">


	<label for="upass">Password :</label>
	<input id="upass" name="upass" type="text">

	<input type="submit" value="login">
</form>

<form method="GET" action="/signup">
	<p>Dont have a account..?</p>
<input type="submit" value="Create new account">
</form>