<h1>Welcome to the signup page</h1>

<% if(exists==true){ %>
	<p>User name exists...try another</p>
<% } %>

<form method="POST" action="/addUser">
	<label for="uname">Name :</label>
	<input type="text" id="uname" name="uname" >
	
	<label for="uno">Number :</label>
	<input type="text" id="uno" name="uno" >
	
	<label for="upass">Pass :</label>
	<input type="password" id="upass" name="upass" >
	
	<input type="submit" value="Submit">
	

</form>